<a href="https://colab.research.google.com/github/acuestaalemari/58002_OOP/blob/main/OPERATIONS%20AND%20EXPESSIONS%20IN%20PYTHON%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
print(10>9)
print(10<9)
print(10==9)

True
False
False

In [ ]:
a = 10
b = 9

print(a>b)
print(a<b)
print(a==b)
print(b==b)

In [ ]:
Bool() functions

In [ ]:
Boolean Operators

In [ ]:
print (bool(1))
print (bool("ana"))
print (bool(0))
print (bool(None))

In [16]:
def myFunctions():

  return False

  print (myFunction())

In [ ]:
def myFunction():
   
  return True

if myFunction():
      print("Yes!")
else:
      print("No!")

In [ ]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)
print(10%5)
print(10//3)
print(10**2)

In [49]:
print(10>9)

a=6
b=7
print(a==b)
print(a!=a)

True
False
False

In [ ]:
a =60
b= 13
a<<1

Python Assignment Operators

In [ ]:
x = 1
x+= 3
print(x)

Identity Operation

In [ ]:
print(x is y)
print(x is not y)

Application 1 Create aritmetic calculator (MDAS)

In [ ]:
print("Basic Calculator in Python")
print("Input the 1st num")
x = int(input())
print("Input the 2nd num")
y = int(input())
print("answer")

print (x+y)
print (x-y)
print (x*y)
print (x/y)
print (x//y)